<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Alfa Laval is a leading global provider of specialized products and engineering solutions based on its key technologies of heat transfer, separation and fluid handling">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>

      <script type="text/javascript">
      var _iub = _iub || [];
      _iub.csConfiguration = {"whitelabel":false,"lang":"en","siteId":2098692,"perPurposeConsent":true,"cookiePolicyId":59891306, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"bottom","listPurposes":true }};
      </script>
      <script type="text/javascript" src="https://cs.iubenda.com/autoblocking/2098692.js"></script>
      <script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>


      <script async src="https://www.googletagmanager.com/gtag/js?id=G-FSB55MN8WV"></script>
      <script>window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-FSB55MN8WV');
      </script>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-206406793-1"></script>
      <script>window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-206406793-1');
      </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
