.breadcrumb,
.pageBradcrumbs {
    background-color: #F5F3F2;
    padding: 0.75em 0; 
    margin-left: 0.25em;
}

.breadcrumb {
    margin-bottom: 0;
    padding-left: 0.3em;
}

.breadcrumb, .breadcrumb-item button {
    background: transparent;
    border: none;
    box-shadow: none;
    color: var(--colorText);
    font-size: small;
    padding: 0;
}

.breadcrumb, .breadcrumb-item button:hover,
.breadcrumb, .breadcrumb-item button:active {
    color: var(--colorPrimary);
    background: transparent;
    border: none;
    box-shadow: none;
}

.breadcrumb, .breadcrumb-item button:focus {
    background: transparent;
    border: none;
    box-shadow: none;
}