/*** CARD ***/
.card {
    border: none;
}

.cardBox {
    border: 1px solid #ccc;
}

.cardImage:hover {
    cursor: pointer;
}

.cardImage .cardBox {
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    border-radius: 0;
    border: none;
}

@media (min-width: 768px) {
    .cardImage .cardBox {
        height: 250px;
        margin-bottom: 0.5em;
    }
}
  
@media (min-width: 992px) {
    .cardImage .cardBox {
        height: 280px;
    }
}

@media (min-width: 1921px) {
    .cardImage .cardBox {
        height: 340px;
    }
}

.cardImage .cardContent {
    text-align: left;
    bottom: 0;
    left: 0;
    right: 0;
}

.cardImage .cardContent-title {
    color: var(--colorPrimary);
    font-weight: 400;
    font-size: 1.5em;
    padding-bottom: 0.3em;
}


.cardImage .cardContent p {
    margin-bottom: 0;
}


/*** CARD HOVER ***/

.cardBox {
    transition: transform .25s ease-in;
    border-radius: 0;
}

.cardBox:hover {
    transform: translate3d(0,-5px,0);
    cursor: pointer;
}

.cardBox a:hover  {
    text-decoration: none;
    color: inherit;
}

.cardBox a figure img {
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.cardBox a figure:hover img {
    opacity: .5;
}

.card-body a {
    text-decoration: underline;
  }