.cardAccordion .card-header {
    background: var(--colorSecondary);
    border-radius: 0!important;
}

.cardAccordion  .card-header a {
    position: relative;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
}

.cardAccordion  .card-header a svg {
    transition: transform 0.2s;
}

.cardAccordion .card-header a[aria-expanded="true"] svg {
    transform: rotate(90deg);
}

.cardAccordion .card-body {
    padding: 1.25em 0;
}

.cardAccordion .card-body h3 {
    font-weight: 300;
}

