.footer {
    background: var(--colorPrimary);
    color: white;
    margin-top: 2em;
}
  
@media (min-width: 768px) {
    .footer {
        margin-top: 6em;
    }
}

@media (min-width: 1200px) {
    .footer {
        margin-top: 8em;
    }
}

@media (min-width: 1921px) {
    .footer {
        margin-top: 9em;
    }
}