.form-control,
.input-group-text {
    border-radius: 0;
}

.formDownload label,
.formContacts label {
    margin-bottom: 0.2em;
}

.formDownload .form-control,
.formContacts .form-control {
    border-radius: 0;
}

.formDownload .form-control::placeholder,
.formContacts .form-control::placeholder {
    color: var(--colorGreyMedium);
    font-style: italic;
    font-size: 14px;
}

.formContacts span span {
    font-size: 12px;
    color: red;
}