.installApp a {
    cursor: pointer;
}

#mobileIos {
    display: none;
}

.displayBlock {
    display: block!important;
}

.linkModal {
    text-decoration: underline!important;
    cursor: pointer;
}

.buttonApp {
    text-decoration: underline;
    padding-left: 0;
}