.pageTitle-banner {
    position: absolute;
    bottom: -1px;
    left: 1em;
    right: 1em; 
}

.pageTitle-content {
    max-width: 900px;
    margin: 0 auto;
    background: #ffffff;
    padding: 0.3em 1em;
}

@media screen and (min-width: 769px) {
    .pageTitle-banner {
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0; 
    }

    .pageTitle-content {
        padding: 1em 2em;
    }
}