.cardCategory {
    padding: 0.5em 1em;
    height: 100%;
}

.cardCategory {
    border-bottom: 4px solid transparent;
}

.cardCategory:hover {
    border-bottom: 4px solid var(--colorPrimary);
}

.cardCategory img {
    max-height: 250px;
    padding: 1em 0!important;
}

.cardCategory .card-body {
    padding: 0.5em 0 0;
}

.cardCategory .card-body h3 {
    margin-bottom: 0.2em;
    color: var(--colorPrimary);
    font-weight: 400;
    padding-top: 0.1em;
}

.cardCategory .card-body p {
    margin-bottom: 0;
    color: var(--colorText);
    font-size: 0.9em;
}

@media screen and (min-width: 769px) {
    .cardCategory .card-body p {
        font-size: 1em;
    }
    .cardCategory {
        padding: 1.2em;
    }
    .cardCategory .card-body h3 {
        margin-bottom: 0.5em;
        padding-top: initial;
    }
    .cardCategory .card-body {
        padding: 1.25em 0;
    }
}

.cardModel {
    height: 100%;
}

.cardModel {
    border-bottom: 4px solid transparent;
}

.cardModel:hover {
    border-bottom: 4px solid var(--colorPrimary);
}

.cardModel img {
    max-height: 250px;
    padding: 1em 1.5em!important;
}

.cardModel .card-body h3 {
    margin-bottom: 1.25em;
    color: var(--colorPrimary);
    font-weight: 400;
    padding: 0 1.5em;
}

.cardModel .card-body p {
    margin-bottom: 0;
    color: var(--colorText);
    font-size: 0.9em;
    padding: 0 1.5em 1.5em;
}

@media screen and (min-width: 769px) {
    .cardModel .card-body p {
        font-size: 1em;
    }
}

.listDocuments li a {
    display: block;
    width: 100%;
}

.listDocuments li a:hover {
    color: inherit;
    background: var(--colorGreyLighter);
}

.accordion > .card {
    border-radius: 0;
}

.table-size,
.table-size tr,
.table-size td {
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.table-size thead {
    text-align: center;
    font-size: 110%;
}

.table-size td {
    padding: 5px;
}

.list-withimage {
    float: left;
    margin-right: 3em;
}

.image-withtlist {
    border: 1px solid #ccc;
    padding: 1em;
}

