@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

html {
    font-size: var(--fontSizeRoot);
  }
  
  body {
    font-family: var(--fontSans);
    line-height: var(--leadBase);
    color: var(--colorText);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
  }
  
  h1,h2,h3,h4,h5,h6 {
    font-family: var(--fontSerif);
    font-weight: 300;
    line-height: var(--leadNarrow);
    color: var(--colorText);
  }
  
  h1, .h1 {
    font-size: var(--fontSizeH3);
  }
  
  h2, .h2 {
    font-size: var(--fontSizeH3);
  }
  
  h3, .h3 {
    font-size: var(--fontSizeH3);
  }

  h4, .h4 {
    font-size: var(--fontSizeH5);
  }
  
  
@media (min-width: 768px) {
    h1, .h1 {
      font-size: var(--fontSizeH1);
    }
    
    h2, .h2 {
      font-size: var(--fontSizeH2);
    }
    
    h3, .h3 {
      font-size: var(--fontSizeH3);
    }

    h4, .h4 {
      font-size: var(--fontSizeH4);
    }
    
    h5, .h5 {
      font-size: var(--fontSizeH5);
    }
}
  
  p {
    margin-bottom: calc(var(--fontSizeH5) * 1.1);
  }

  @media screen and (min-width: 769px) {
    p {
      margin-bottom: calc(var(--fontSizeH5) * 1.5);
    }
  }
  
  p + h2 {
    margin-top: calc(var(--spaceUnit) * 2);
  }

  p + ul {
    margin-top: -1em;
  }

  ul + p {
    margin-top: 2em;
  }
  
  input,
  select,
  button,
  textarea {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }
  
  form:not([class]) {
    padding: 1em;
  }

  
  label:not([class]) {
    display: block;
    font-weight: 700;
  }
  
  input[type="text"]:not([class]),
  input[type="email"]:not([class]),
  textarea:not([class]) {
    display: block;
    width: 100%;
    padding: 0.5em;
    border: 2px solid var(--colorGreyLight);
    
  }
  
  input[type="text"]:not([class]):focus,
  input[type="email"]:not([class]):focus,
  textarea:not([class]):focus {
    outline: none;
    border-color: var(--colorPrimary);
  }
  
  figure + p,
  figure + h2 {
    margin-top: calc(var(--spaceUnit) * 2);
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration-skip-ink: auto;
    color: inherit;
  }

  a:hover {
    text-decoration: none;
  }
  
  b, strong {
    font-weight: 700;
  }
  
  i, em {
    font-style: italic;
  }
  
  small {
    font-size: var(--fontSizeSmall);
  }
  
  hr {
    height: 1px;
    margin: 0;
    background: var(--colorGreyMedium);
    border: none;
  }
  
  figcaption {
    font-size: var(--fontSizeSmall);
    font-style: italic;
    color: var(--colorGreyDark);
  }
  
  ::-moz-selection {
    color: white; 
    background: var(--colorPrimary);
  }
  
  ::selection {
    color: white; 
    background: var(--colorPrimary);
  } 

  img::selection {
    background: rgb(30, 28, 119, 0.5);
  }

  img::-moz-selection {
    background: rgb(30, 28, 119, 0.5);
  }

.lead {
  font-size: 1em;
  font-weight: 300;
}

@media (min-width: 768px) {
  .lead {
      font-size: 1.25em;
      font-weight: 300;
  }
}
