/* Gabbia principale della pagina */

.container {
    max-width: var(--containerWidth);
    margin:  0 auto;  
    padding: 0 var(--containerSideGutter);
  }
  
.containerSmall {
    max-width: var(--containerSmallWidth);
    margin:  0 auto;  
    padding: 0 var(--containerSideGutter);
}

.containerMedium {
    max-width: var(--containerMediumWidth);
    margin:  0 auto;  
    padding: 0 var(--containerSideGutter);
}

.containerLarge {
    max-width: var(--containerLargeWidth);
    margin:  0 auto;  
    padding: 0 var(--containerSideGutter);
}