
:root {
	--fontSizeRoot: 100%;

	--fontSizeExtraSmall: .75em;
	--fontSizeSmall: .85em;
	--fontSizeLead: 1.25em;
	--fontSizeHero: 3em; 

	--fontSizeH1: 3em; 
	--fontSizeH2: 2em; 
	--fontSizeH3: 1.5em; 
	--fontSizeH4: 1.25em; 
	--fontSizeH5: 1em; 
	--fontSizeH6: var(--fontSizeSmall); 

	--fontSerif: 'Roboto', Arial, sans-serif;
	--fontSans: 'Roboto', Arial, sans-serif;
	--leadBase: 1.5;
	--leadNone: 1;
	--spaceUnit: 1em;
	
  --colorBlue: rgb(28,55,122); 
  --colorGrayBrown: #8c7f70;
	--colorTurquoise: #007fc8;
	
  --colorPrimary: var(--colorBlue);
  --colorSecondary: var(--colorGrayBrown);
  --colorTertiary: var(--colorTurquoise);

	--colorGreyLighter: #F5F3F2;
	--colorGreyLight: #eee;
	--colorGrey: #ccc;
	--colorGreyMedium: #999;
	--colorGreyDark: #666;
	--colorGreyDarker: #333;
	--colorBlack: #000;

	--colorText: var(--colorGreyDark);

	--boxShadow: rgba(0,0,0,0.15);

	--containerWidth: 1200px;
  --containerSideGutter: 20px;
  --containerSmallWidth: 920px;
	--containerMediumWidth: 1024px;
	--containerLargeWidth: 1440px;

	--buttonDefaultBg: var(--colorGrayLightest);
	--buttonDefaultColor: var(--colorGray);
	--buttonPrimaryBg: var(--colorPrimary);
	--buttonPrimaryColor: var(--colorWhite);
	--buttonSecondaryBg: var(--colorSecondary);
	--buttonSecondaryColor: var(--colorWhite);

}

  
@media screen and (min-width: 1170px) {
	:root {
	  --fontSizeRoot: 100%;
	}
}