<template>
  <section>
    <div class="pageBradcrumbs">
      <div class="containerLarge">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb small">
            <li class="breadcrumb-item">
             <b-button @click="toGlobal('/marine', 'marine')">Home</b-button>
            </li>
            <li class="breadcrumb-item">
              <b-button @click="toGlobal('/size-your-system', 'marine')">Size your system</b-button>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="banner">
      <div
        class="bannerImage"
        :style="{
          'background-image':
            'url(' + require('../assets/img/banner/size-your-system.jpg') + ')',
        }"
      >
        <div class="containerLarge">
          <div class="pageTitle-banner text-center">
            <div class="pageTitle-content">
              <h1 class="mt-4">Size Your System</h1>
              <div class="divider"></div>
              <p class="lead">
                Configuration not found
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="containerLarge">
      <div class="row mt-5">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <p class="lead text-sm-left text-lg-center pb-lg-4">We have not found a product configuration that matches your requests.<br>
            <router-link class="linkClick" to='/marine-contacts'><u>Contact us</u></router-link> and we will be happy to recommend the right product for you.</p>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {

  computed: {
    getCurrentPath(){
      return this.$store.getters.getCurrentPath;
    }
  },

  methods: {
    toGlobal(str, current){
      if (str !== this.getCurrentPath){
        this.$store.commit('setCurrentGlobal', current);
        this.$store.commit('setCurrentPath', str);
        this.$router.push(str);
      }      
    },
  }
};
</script>
